* {
  box-sizing: border-box;
}
/* BODY
-------------------------------------*/
body {
  background-color: #c8d0d5;
  margin: 20px auto;
}
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}
.character-cards {
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  min-width: 300px;
}
.character-card {
  position: relative;
  background-color: #fff;
  border: 3px solid grey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  min-width: 300px;
}
.select-container {
  display: flex;
  justify-content: center;
}
#play-button {
  margin: 5px;
  padding: 5px 20px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 14px;
}

.banner {
  position: absolute;
  top: 70%;
  left: -65px;
  z-index: 100;
}
/* GAME BOARD
-------------------------------------*/

.board {
  display: grid;
  max-width: 600px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid black;
  margin: auto;
}

.tile {
  border: 1px solid black;
  max-width: 100px;
  height: 100px;
  background-color: #fff;
}

/* HEADINGS AND TEXT
-------------------------------------*/
h1 {
  font-family: "Cinzel", serif;
  font-size: 48px;
  margin: 20px 10px;
  text-align: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
h3 {
  font-family: "Cinzel", serif;
  font-size: 24px;
  text-align: center;
}
h4 {
  font-family: "Cinzel", serif;
  font-size: 18px;
  text-align: center;
}
p {
  font-family: "Cinzel", serif;
  font-size: 16px;
  text-align: center;
}

/* DICE
-------------------------------------*/
.dice-container {
  display: flex;
}
.dice {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.dice-dot {
  --top: 0%;
  --left: 0%;

  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;

  /* Dot positioning */
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1))
    translateY(calc(var(--top) * -1));
}
.btn-roll-dice {
  margin-top: 10px;
}
/* IMAGES
-------------------------------------*/
img {
  max-height: 200px;
  display: flex;
  margin: auto;
}

/* LOADER
-------------------------------------*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #630732;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
