* {
  box-sizing: border-box;
}
/* BODY
-------------------------------------*/
body {
  background-color: #c8d0d5;
  margin: 20px auto;
}
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}
.character-cards {
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  min-width: 300px;
}
.character-card {
  position: relative;
  background-color: #fff;
  border: 3px solid grey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  min-width: 300px;
}
.select-container {
  display: flex;
  justify-content: center;
}
#play-button {
  margin: 5px;
  padding: 5px 20px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 14px;
}

.banner {
  display: block;
  position: absolute;
  top: 70%;
  left: -65px;
  z-index: 100;
}

/* HEADINGS AND TEXT
-------------------------------------*/
h1 {
  font-family: "Cinzel", serif;
  font-size: 48px;
  margin: 20px 10px;
  text-align: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
h3 {
  font-family: "Cinzel", serif;
  font-size: 24px;
  text-align: center;
}
h4 {
  font-family: "Cinzel", serif;
  font-size: 18px;
  text-align: center;
}
p {
  font-family: "Cinzel", serif;
  font-size: 16px;
  text-align: center;
}

/* GAME BOARD
-------------------------------------*/
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 600px; /* 6 tiles wide */
  height: 500px; /* 5 tiles high */
  background-color: #fff;
  margin: 20px auto;
  position: relative;
}

.tile {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

.tile[data-position="1"] {
  left: 0;
  top: 400px;
}

.tile[data-position="2"] {
  left: 100px;
  top: 400px;
}

.tile[data-position="3"] {
  left: 200px;
  top: 400px;
}

.tile[data-position="4"] {
  left: 300px;
  top: 400px;
}

.tile[data-position="5"] {
  left: 400px;
  top: 400px;
}

.tile[data-position="6"] {
  left: 500px;
  top: 400px;
}

.tile[data-position="7"] {
  left: 500px;
  top: 300px;
}

.tile[data-position="8"] {
  left: 400px;
  top: 300px;
}

.tile[data-position="9"] {
  left: 300px;
  top: 300px;
}

.tile[data-position="10"] {
  left: 200px;
  top: 300px;
}

.tile[data-position="11"] {
  left: 100px;
  top: 300px;
}

.tile[data-position="12"] {
  left: 0;
  top: 300px;
}

.tile[data-position="13"] {
  left: 0;
  top: 200px;
}

.tile[data-position="14"] {
  left: 100px;
  top: 200px;
}

.tile[data-position="15"] {
  left: 200px;
  top: 200px;
}

.tile[data-position="16"] {
  left: 300px;
  top: 200px;
}

.tile[data-position="17"] {
  left: 400px;
  top: 200px;
}

.tile[data-position="18"] {
  left: 500px;
  top: 200px;
}

.tile[data-position="19"] {
  left: 500px;
  top: 100px;
}

.tile[data-position="20"] {
  left: 400px;
  top: 100px;
}

.tile[data-position="21"] {
  left: 300px;
  top: 100px;
}

.tile[data-position="22"] {
  left: 200px;
  top: 100px;
}

.tile[data-position="23"] {
  left: 100px;
  top: 100px;
}

.tile[data-position="24"] {
  left: 0;
  top: 100px;
}

.tile[data-position="25"] {
  left: 0;
  top: 0;
}

.tile[data-position="26"] {
  left: 100px;
  top: 0;
}

.tile[data-position="27"] {
  left: 200px;
  top: 0;
}

.tile[data-position="28"] {
  left: 300px;
  top: 0;
}

.tile[data-position="29"] {
  left: 400px;
  top: 0;
}

.tile[data-position="30"] {
  left: 500px;
  top: 0;
}

.player-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 120px;
  margin: auto;
}
.player {
  display: inline-flex;
  flex-direction: column-reverse;
  padding: 20px;
}

.player img {
  height: 150px;
}

.p1,
.p2 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  border: 3px solid black;
}

.p1 {
  z-index: 1;
  top: 20px;
  left: -50%;
  transition: all linear 0.5s;
  background-color: #ec5252;
}

.p2 {
  z-index: 2;
  top: 30px;
  left: -50px;
  transition: all linear 0.5s;
  background-color: #f3b52e;
}

/* DICE
-------------------------------------*/
.dice-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  /* background-color: #615f5f; */
}
.dice {
  background-color: #fff;
  width: 80px;
  height: 80px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.dice-dot {
  --top: 0%;
  --left: 0%;

  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;

  /* Dot positioning */
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1))
    translateY(calc(var(--top) * -1));
}
.btn-roll-dice {
  display: block;
  margin: auto;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: darkgray;
}
.btn-roll-dice:hover {
  background-color: #615f5f;
}
.btn-roll-dice:active {
  background-color: #615f5f;
  box-shadow: 0 3px #7b7b7b;
  transform: translateY(2px);
}
/* IMAGES
-------------------------------------*/
img {
  max-height: 200px;
  display: flex;
  margin: auto;
}

/* LOADER
-------------------------------------*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #630732;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
